/*전체 스타일*/
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

/*바디 스타일*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

/* 플렉스 박스 컨테이너 스타일 */
.d-flex {
    display: flex;
    height: 100vh;
}

/* 사이드바 스타일 */
.sidebar {
    width : 250px;
    background-color: #FFE8CE;
}

/* 사이드바 네비게이션 컨테이너 스타일*/
.sidebar nav {
    display: flex;
    flex-direction: column;
    gap : 24px;
}

/* 사이드바 내비게이션 스타일 */
.sidebar nav a{
    color : black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    transition: color 0.3s;
}

/* 이건 호버 효과 */
.sidebar nav a:hover { 
    color: #ffd700;
}

.contact {
    font-size: 14px;
    color: #999;
}